@import "./mixin";
@import "./functions";


$main-color: papayawhip;
$icon-color: silver;
$sub-color: rgba(62, 38, 6, .7);
$main-font: Georgia, 'Times New Roman', Times, serif;
$base-font-size: 16px;





