
footer {
  height: 10%;
  position: fixed;
  bottom: 0;
  width:100%;
  background-color: rgb(250, 218, 176);
  .social-icons {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    
    a{
      padding: 0.4rem;
      color: $main-color;
      &:hover{
        color: $icon-color;
        transform: translateY(30%);
      }
    }
  }
}