.signup_cont {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
}
.input-holder {
  position: relative;
  .error {
    position: absolute;
    left: 42%;
    bottom: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: rgba(255, 0, 0, 0.598);
    text-transform: uppercase;
  }
  .succes {
    color: rgba(13, 226, 155, 0.762);
    position: absolute;
    left: 45%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}
.form-container {
  width: 100%;
  margin: auto;
  position: relative;
  .form {
    width: 90%;

    margin: auto;
    .form-input {
      display: flex;
      justify-content: space-between;
      align-items: center;

      label {
        padding: 5px 10px;
        margin: -5px 0 0 50px;
        width: 40%;
        color: $brown-dark-40;
        font-family: "Yellowtail", sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 1.1rem;
      }
      input {
        width: 60%;
        padding: 10px 10px;
        margin: 10px 40px 25px 0;
        border: none;
        outline: none;
        border-radius: 20px;
        color: $brown-dark-40;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        &::placeholder {
          color: $nav-sec;
        }
      }
    }
  }
}
.signup_button {
  width: 100%;
  position: relative;

  button {
    width: 53%;
    position: absolute;
    font-weight: 700;
    font-family: "Combo", sans-serif;
    bottom: -10px;
    left: 42%;
    height: 30px;
    text-transform: capitalize;
    background-color: rgba(127, 255, 212, 0.762);
    color: #fff;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    @include transition-ease;
    &:hover {
      color: rgba(127, 255, 212, 0.762);
      background-color: #fff;
    }
  }
}
.form-container .login-comp {
  position: absolute;
  bottom: -39px;
  left: 65%;
  font-family: "Yellowtail", sans-serif;
  font-size: 1.3rem;
  a {
    color: rgba(127, 255, 212, 0.762);
    letter-spacing: 2px;
  }
}
.image-input {
  svg {
    position: absolute;
    height: 35px;
    left: 0;
    bottom: 3px;
    cursor: pointer;
    fill: $brown-dark;
  }
  img {
    position: absolute;
    height: 35px;
    left: 0;
    bottom: 3px;
    cursor: pointer;
    width: 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
@media (min-width: 750px) {
  .signup_cont {
    width: 90%;
  }
}
@media (min-width: 950px) {
  .signup_cont {
    width: 70%;
  }
}
@media (min-width: 1100px) {
  .signup_cont {
    width: 60%;
  }
}
