@import "./_config";
@import "./_main";
@import "./_nav";
@import "./_home";
@import "./_footer";
@import "./_buttons.scss";
@import "./about";
@import "./signup";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-color;
  font-family: $main-font;
  font-size: $base-font-size;
  height: 100vh;
  color: set-color($main-color);
}
a {
  color: set-color($main-color);
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.text-secondary {
  color: $sub-color;
}
.main-container {
  height: 100%;
  width: 90vw;
  margin: auto;
  padding: 0;
}
