@import "./config.scss";
@import "./main";
@import "./_nav";
@import "./footer";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $main-color;
  font-family: $main-font;
  font-size: $base-font-size;
  height: 100 vh;
  



}



@import "./buttons.scss";